
.animation-header{
    padding: 1.5rem 1rem;
}
.carousel{
    margin: 3rem 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    &-inner{
        display: flex;
        width: 300%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);
        border-top: 1px solid rgba(0, 0, 0, 0.171);
        transition: all 1s;
        &-1{
            transform: translateX(-33.333333%);
        }
        &-2{
            transform: translateX(-66.666666%);
        }
       
    }

    &-item{
        height: 60rem;
        display: grid;
        width: 33.33333%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr; 
        overflow: hidden;
        & img{
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            &.img-1{ 
                grid-column: 1/span 1;
            }
            &.img-2{
                grid-column: 3/span 1;
            }
        }
        &-1{
            background-color: black;
            color: white;
        }
       
    }
    &-caption{
       grid-column: 2/span 1;
       grid-row: 1/2;
       display: flex;
       flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 2;
      font-size: 160%;
      font-weight: 100;
      text-transform: uppercase;
   
    &-2{
        grid-column: 1/span 1;
        grid-row: 1/2;
        line-height: 1;
        padding: 2rem;
        & h2{
         font-size: 92%;
         margin-bottom: 1rem;
        }
        & p{
            font-size: 1.3rem;
            text-align: center;
            font-weight: 400;
            margin-bottom: 5rem;
        }
    }
   
      
    }
}
#btn-black{
    background-color: white;
    color: black;
    margin-right: 1rem;
}
#btn-white{
    color: white;
    background-color: black;
    margin-right: 1rem;
}

.left, .right{
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    background-color: rgba(255, 255, 255, 0.74);
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: white;
    }
}
.left{
    left: 1rem;
}
.right{
    right: 1rem;
}
.fa{
    font-weight:bolder;
  
}

//modifiers
.direction{
 &-top{
    line-height: 1;
    transform: translateY(-13%);
    }
 &-right{
    grid-column: 2/span 2;
 }   

}

.text-white{
    color: white;
}
