
.animation{
       &-item{
       display: flex;
       color: black;
       width: 400%;  
       height: 100%;      
       &-1{
           transform: translateX(-25%);
       } 
       &-2{
           transform: translateX(-50%);
       } 
       &-3{
           transform: translateX(-75%);
       } 
        &-img{
            flex: 1;
            text-align: center;
            vertical-align: middle;  
            background-position: center;
            background-size: cover; 
            & img{
                width: 30rem;
                height: 100%;

            }
          
        }
        &-left, &-right{
            position: absolute;
            top: 50%;
            font-size: 2.5rem;
            color: gray;
            &:hover{
                color: rgba(0, 0, 0, 0.6);
            } 
        }
        &-left{
            left: 1rem;
        }
        &-right{
            right: 1rem;
            &-small{
                transform: scale(.65);
                color: white;
            }
        }

    }
}
.shop-button{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-style: 2rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 1rem 2rem;
    &:hover{
        background-color: rgba(128, 128, 128, 0.472);
    }
}